@model CatalogManager.Core.Domain.Category

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Parent Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

    </dl>
</div>

<h2>Sub Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Category", new { id=Model.Id }, null)
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Category", new { id = item.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Category", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Category", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @if (Model.ParentCategory != null)
    {
        @Html.ActionLink(string.Concat("Back to ", Model.ParentCategory.Name), "Details", new { id = Model.ParentCategory.Id })
    }
    else
    {
        @Html.ActionLink("Back to Catalog", "Index", "Catalog")
    }
</p>
