@model CatalogManager.Core.Domain.Category

@{
    ViewBag.Title = "Details";
    var backLink = Model.CategoryID != null ? string.Concat("/Category/Details/", Model.CategoryID) : "/Catalog";
}

<h2><a href="@backLink"><i class="fa fa-level-up"></i></a> @Model.Name</h2>
<p>
    <i class="fa fa-pencil"></i> @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <i class="fa fa-ban"></i> @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    <i class="fa fa-plus"></i> @Html.ActionLink("Add Sub-Category", "Create", "Category", new { id = Model.Id }, null) |
    <i class="fa fa-plus"></i> @Html.ActionLink("Add Product", "Create", "Product", new { id = Model.Id }, null)
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.ParentCategory != null)
        {
            <dt>Parent Category</dt>
            <dd>@Html.ActionLink(Model.ParentCategory.Name, "Details", "Category", new { id = Model.CategoryID }, null)</dd>
        }
        <dt>Created</dt>
        <dd>@Html.DisplayFor(model => model.CreatedDate)</dd>
        <dt>Updated</dt>
        <dd>@Html.DisplayFor(model => model.UpdatedDate)</dd>
    </dl>
</div>

@if (Model.Categories.Any())
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Sub-Categories
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    <i class="fa fa-tags"></i> @Html.ActionLink(item.Name, "Details", "Category", new { id = item.Id }, new { Title = "Details" })
                </td>
                <td>
                    <i class="fa fa-bars"></i> @Html.ActionLink("Details", "Details", "Category", new { id = item.Id }, new { Title = "Details" }) |
                    <i class="fa fa-pencil"></i> @Html.ActionLink("Edit", "Edit", "Category", new { id = item.Id }, null) |
                    <i class="fa fa-ban"></i> @Html.ActionLink("Delete", "Delete", "Category", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
}

@if (Model.Products.Any())
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Products
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    <i class="fa fa-shopping-cart"></i> @Html.ActionLink(item.Name, "Details", "Product", new { id = item.Id }, new { Title = "Details" })
                </td>
                <td>
                    <i class="fa fa-bars"></i> @Html.ActionLink("Details", "Details", "Product", new { id = item.Id }, new { Title = "Details" }) |
                    <i class="fa fa-pencil"></i> @Html.ActionLink("Edit", "Edit", "Product", new {id = item.Id}, null) |
                    <i class="fa fa-ban"></i> @Html.ActionLink("Delete", "Delete", "Product", new {id = item.Id}, null)
                </td>
            </tr>
        }

    </table>
}