@model CatalogManager.Core.Domain.Product

@{
    ViewBag.Title = "Details";
}

<h2><a href="@string.Concat("/Category/Details/", Model.CategoryId)"><i class="fa fa-level-up"></i></a> @Model.Name</h2>
<p>
    <i class="fa fa-pencil"></i> @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <i class="fa fa-ban"></i> @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Category</dt>
        <dd>@Html.ActionLink(Model.Category.Name, "Details", "Category", new { id = Model.CategoryId }, null)</dd>
        <dt>Description</dt>
        <dd>@Model.Description</dd>
        <dt>Price</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>
        <dt>Created</dt>
        <dd>@Html.DisplayFor(model => model.CreatedDate)</dd>
        <dt>Updated</dt>
        <dd>@Html.DisplayFor(model => model.UpdatedDate)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Category", "Details", "Category", new { id = Model.CategoryId }, null)
</p>
